page-p-penerima {
    #tabel {
        text-align: center;
        background-color: #1A2548;
        color: white;
        border-left: solid 1px #EEE;
        border-right: solid 1px #EEE;
        border-top: solid 1px #EEE;
        border-bottom: solid 1px #EEE;
    }

    #center {
        text-align: center;
    }
}
